- req = field.required ? 'required' : 'optional'
- val = FieldValue.value_for(entity, field)
.col-xs-12
  %div{ class: "form-group string #{req} custom_fields_#{field.id}" }
    %label{ class: "control-label string #{req}",  for: "custom_fields_#{field.id}" }
      - if field.required
        %abbr{ title: :required } *
      = field.name
    %p
      %input{ type: :hidden, name: "custom_fields[#{field.id}]", value: 0 }
      - field.field_options.ordered.each do |o|
        .radio
          %label
            %input{ type: :radio, name: "custom_fields[#{field.id}]", id: "field_option_#{o.id}", value: o.id, checked: o.id.to_s == val }
            = o.name
    - if errors && errors["_#{field.id}".to_sym]
      %p{ class: :error }= errors["_#{field.id}".to_sym]
