= simple_form_for @sale, html: { class: 'form-horizontal' } do |f|
  .list-group
    .list-group-item
      .row
        .col-xs-12
          %b
            = "#{sg('usd')} &nbsp;New Sale".html_safe
    .list-group-item
      .row
        .col-xs-12
          = render partial: 'form', locals: { f: f }
    .list-group-item
      .row
        .col-xs-12
          .pull-right
            = link_to "#{sg('ban-circle')} &nbsp;Cancel".html_safe, sales_path, class: 'btn btn-sm btn-warning'
            = f.button :button, class: 'btn btn-sm btn-success' do
              #{sg('saved')} &nbsp;Create Sale
